<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlayHits</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      .video-background { position: fixed; top: 0; left: 0; width: 100%; height:
      100%; object-fit: cover; z-index: -1; } main { position: relative;
      z-index: 1; } nav { position: relative; z-index: 10;}
    </style>
  </head>

  <body>

    <div>
      <video class="video-background" autoplay loop muted>
        <source src="/images/waves.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video></div>
    <div class="d-flex flex-wrap">

      <main class="container mt-5">
        <div class="row">
          <div class="col-md-6">
            <img
              src="/images/playhitsLogo.png"
              alt="PlayHits Logo"
              style="max-width: 50%; height: auto; display: block; margin: 0 auto 10px; border-radius: 15px;"
            />
            <p class="signup-card"
              style="line-height: 1.6; margin: 10px 0; color: #b5b5b5; font-size: 20px; font-family: Arial, sans-serif; text-align: justify;"
            >
              Welcome to PlayHits, the ultimate place for discovering and
              sharing the most enjoyable and upbeat playlists! At PlayHits, you
              can create your own playlist with all your favorite artists,
              genres, or albums. You can mix and mash to create spicy
              combinations or keep it all clean with similar genres. Explore
              others’ playlists and get a glimpse into their world. Who knows?
              You may even like what they share and discover new and amazing
              music!
            </p>
          </div>



          <div class="col-md-6">
            <div class="signup-container">
  <div class="signup-card">
    <div class="signup-right">
      <h2 class="signup-title">Ready to join us?</h2>
      <form action="/signup" method="POST">
        <div class="form-group">
          <input type="text" name="username" placeholder="Username" class="form-input">
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" class="form-input">
        </div>
        <div class="form-group">
          <input type="password" name="password" placeholder="Password" class="form-input">
        </div>
        <button type="submit" class="signup-button">SIGN UP</button>
      </form>
      <a href="/login" class="signup-link">Already have an Account? Login →</a>
    </div>
  </div>
</div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>

</html>