/* General Reset */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  color: white;
  background-image: url('/images/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/* Header */
#header {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  color: #4750FF;
}

/* Navbar */
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.navbar-brand img {
  margin-left: 10px;
  height: 100%;
}

.nav-logo {
  width: 40px;
  margin-right: 10px;
}

.navbar {
  background-color: transparent;
  padding: 12px;
}

.navbar-nav .nav-item {
  margin-right: 20px;
  font-size: 1.2rem;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

/* Main Search Form */
form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 75%;
}

form input[type="text"] {
  background-color: transparent;
  border: 2px solid #4750FF;
  color: white;
  padding: 10px;
  width: 100%; /* Allow full width within container */
  border-radius: 5px 0 0 5px;
  outline: none;
}

form button {
  background-color: #4750FF;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
  outline: none;
}

form button:hover {
  background-color: #3b44e4;
}

/* Card Styling */
.card {
  background-color: transparent;
  border: 1px solid #4750FF;
  border-radius: 10px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #4750FF;
}

.card .icon {
  font-size: 50px;
  margin-bottom: 15px;
  color: #4750FF;
}

.row {
  margin-top: 40px;
}

.col-md-4 {
  margin-bottom: 20px;
}

/* Main Content Container */
.container {
  padding: 0 20px;
}

/* Playlists, Categories, and Popular Songs */
.container.mt-4 {
  margin-top: 40px;
}

.btn-outline-primary {
  color: #ffffff;
  border-color: #4750FF;
}

.btn-outline-primary:hover {
  background-color: #4750FF;
  color: #ffffff;
}

.btn 
{
  background-color: #4750FF;
  color: white;
  border: none;
}

.list-group-item {
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
}

.list-group-item img {
  border: 2px solid #4750FF;
}

/* Sign Up Page Styles */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.signup-card {
  display: flex;
  background: black;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-style: solid;
  border-color: #4750FF;
}

.signup-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4750FF;
  margin-bottom: 25px;
}

.signup-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 500px;
  padding: 30px;
}

.signup-icon {
  width: 500px;
  height: 500px;
}

.signup-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px 15px;
}

.signup-right form {
  display: flex;
  flex-direction: column;
}

.signup-form-group {
  margin-bottom: 20px;
}

.signup-form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 1rem;
  width: 100%;
}

.signup-button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #4750FF; /* Your button color */
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #797ffc; 
}

/* Login Page Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.login-card {
  display: flex;
  background: black;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-style: solid;
  border-color: #4750FF;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4750FF;
  margin-bottom: 25px;
}

.login-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 500px;
  padding: 30px;
}

.login-icon {
  width: 500px;
  height: 500px;
}

.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px 15px;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 1rem;
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #4750FF; 
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #797ffc; 
}

.forgot-password,
.signup-link {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #4750FF; 
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.forgot-password:hover,
.signup-link:hover {
  color: #858bff; 
}


/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .login-container,
  .signup-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
  }

  .login-card,
  .signup-card {
    flex-direction: column;
    width: 90%;
  }

  .login-left,
  .signup-left {
    width: 100%;
    padding: 30px 20px;
    text-align: center; /* Center align the content */
  }

  .login-right,
  .signup-right {
    width: 100%;
    padding: 30px 20px;
  }

  .login-icon,
  .signup-icon {
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  .login-title,
  .signup-title {
    font-size: 1rem;
    margin-bottom: 15px;
  }

  .form-group,
  .signup-form-group {
    margin-bottom: 15px;
  }

  .form-input,
  .signup-form-input {
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
  }

  .login-button,
  .signup-button {
    padding: 12px;
    font-size: 0.9rem;
  }

  .forgot-password,
  .signup-link {
    font-size: 0.8rem;
  }
}


.search-bar input {
  width: 100%;
}

.song-list .song-item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.song-details img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.song-details {
  padding: 20px;
}

.add-to-playlist {
  background-color: #4750FF;
  color: white;
}

.add-to-playlist:hover {
  background-color: #333;
}

.border-left {
  border-left: 2px solid #4750FF;
}

/* Container and Row adjustments */
.row.g-3 {
  display: flex;
  gap: 20px;
}

/* Left Column: Playlists */
#playlist-column h3 {
  border-bottom: 2px solid #4750FF;
  padding-bottom: 10px;
}

#playlist-column .list-group-item {
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

#playlist-column .list-group-item:hover {
  background-color: #333;
  transform: translateX(5px);
}

/* Center Column: Song Search and List */
#songs-column .search-bar input {
  background-color: transparent;
  border: 2px solid #4750FF;
  color: white;
}

#songs-column .search-bar input::placeholder {
  color: #b8b8b8;
}

#songs-column .search-bar button {
  background-color: #4750FF;
  border: none;
  color: white;
  transition: background-color 0.3s;
}

#songs-column .search-bar button:hover {
  background-color: #3b44e4;
}

.song-item h5 {
  font-weight: bold;
  color: #4750FF;
}

.song-item p {
  margin: 0;
}

.song-item .btn {
  border: 2px solid #4750FF;
  transition: background-color 0.3s, color 0.3s;
}

.song-item .btn:hover {
  background-color: #4750FF;
  color: #fff;
}

/* Right Column: Song Details */
#song-details-column h4 {
  border-bottom: 2px solid #4750FF;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.song-details img {
  border: 2px solid #4750FF;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Ensure the form container uses flexbox for horizontal alignment */
.search-form {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Adjust the width as needed */
  margin-top: 20px; /* Adjust the top margin as needed */
}

.search-form .form-control {
  flex: 1; /* Take up available space */
  background-color: transparent;
  border: 2px solid #4750FF;
  color: white;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-form .btn {
  background-color: #4750FF;
  border: none;
  padding: 12px 20px;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
  outline: none;
}

.search-form .btn:hover {
  background-color: #3b44e4;
}

.feedback-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}

#password-input-signup.is-invalid {
  border-color: red;
  background-color: #ffe6e6; /* Light red background */
}

#password-input-signup.is-invalid::placeholder {
  color: red;
}

/* Optional: For better feedback visibility */
.feedback-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

/* Footer adjustment */
#footer {
  background-color: transparent;
  padding: 20px 0;
  color: #4750FF;
  border-top: 2px solid #4750FF;
  margin-top: auto;
  width: 100%;
}