/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  background-image: url('/images/background-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
#header {
  background-color: transparent;
  padding: 20px;
  text-align: center;
  color: #4750FF;
}

/* Footer */
#footer {
  background-color: transparent;
  padding: 10px 20px;
  text-align: center;
  color: #4750FF;
  margin-top: auto;
}

/* Navbar */
.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

.navbar-brand img {
  margin-left: 10px;
  height: 100%;
}

.nav-logo {
  width: 40px;
  margin-right: 10px;
}

.navbar {
  background-color: transparent;
  padding: 12px;
}

.navbar-nav .nav-item {
  margin-right: 20px;
  font-size: 1.2rem;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0;
}

/* Main Search Form */
form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 75%;
}

form input[type="text"] {
  background-color: transparent;
  border: 2px solid #4750FF;
  color: white;
  padding: 10px;
  width: 100%; /* Allow full width within container */
  border-radius: 5px 0 0 5px;
  outline: none;
}

form button {
  background-color: #4750FF;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
  outline: none;
}

form button:hover {
  background-color: #3b44e4;
}

/* Card Styling */
.card {
  background-color: transparent;
  border: 1px solid #4750FF;
  border-radius: 10px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #4750FF;
}

.card .icon {
  font-size: 50px;
  margin-bottom: 15px;
  color: #4750FF;
}

.row {
  margin-top: 40px;
}

.col-md-4 {
  margin-bottom: 20px;
}

/* Main Content Container */
.container {
  max-width: 960px;
  padding: 0 20px;
  margin: auto;
}

/* Playlists, Categories, and Popular Songs */
.container.mt-4 {
  margin-top: 40px;
}

.btn-outline-primary {
  color: #ffffff;
  border-color: #4750FF;
}

.btn-outline-primary:hover {
  background-color: #4750FF;
  color: #ffffff;
}

.list-group-item {
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
}

.list-group-item img {
  border: 2px solid #4750FF;
}

/* Sign Up Page Styles */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 1000px;
  margin-top: 75px;
}

.signup-card {
  display: flex;
  background: black;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-style: solid;
  border-color: #4750FF;
}

.signup-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4750FF;
  margin-bottom: 25px;
}

.signup-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 500px;
  padding: 30px;
}

.signup-icon {
  width: 500px;
  height: 500px;
}

.signup-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px 15px;
}

.signup-right form {
  display: flex;
  flex-direction: column;
}

.signup-form-group {
  margin-bottom: 20px;
}

.signup-form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 1rem;
  width: 100%;
}

.signup-button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #4750FF; /* Your button color */
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #797ffc; 
}

/* Login Page Styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 1000px;
  margin-top: 75px;
}

.login-card {
  display: flex;
  background: black;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-style: solid;
  border-color: #4750FF;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: #4750FF;
  margin-bottom: 25px;
}

.login-left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 500px;
  padding: 30px;
}

.login-icon {
  width: 500px;
  height: 500px;
}

.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 50px 15px;
}

.login-right form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 1rem;
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #4750FF; 
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #797ffc; 
}

.forgot-password,
.signup-link {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #4750FF; 
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.forgot-password:hover,
.signup-link:hover {
  color: #858bff; 
}
